<% include header.html %>

<body>
<div class="alert alert-success"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-2">
            <div class="span12">
                <div class="page-header">
                    <h1>
                        后台管理页面
                        <small></small>
                    </h1>
                </div>
                <div class="tabbable tabs-left" id="tabs-657411">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-895036" data-toggle="tab">基本配置</a>
                        </li>
                        <li>
                            <a href="#panel-500986" id="j_all_order" data-toggle="tab">所有订单</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-895036">
                            <form id="setting_form" role="form">
                                <fieldset disabled>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                配置项
                                            </th>
                                            <th>
                                                配置信息
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                网站标题
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="title"
                                                       value="<%= setting.title %>" required>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                最早申请开放时间(天)
                                            </td>
                                            <td>
                                                <input type="number" name="earliest_date" class="form-control"
                                                       value="<%= setting.earliest_date %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                最晚申请开放时间(天)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="latest_date"
                                                       value="<%= setting.latest_date %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                当天最早申请开放时间(24小时制)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="earliest_time"
                                                       value="<%= setting.earliest_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                当天最晚申请开放时间(24小时制)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="latest_time"
                                                       value="<%= setting.latest_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                预约申请时间间隔(分钟)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="during_time"
                                                       value="<%= setting.during_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                单位时间内可预约人数
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="during_number"
                                                       value="<%= setting.during_number %>" required>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </form>
                            <a href="javascript:" class="editor-setting">修改配置</a>

                            <button type="button" data-loading-text="保存中..." class="btn btn-primary save-setting">保存配置
                            </button>
                        </div>
                        <div class="tab-pane" id="panel-500986">
                            <table class="table table-bordered table-hover" id="tb_all_order">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>单位/学院</th>
                                    <th>手机号</th>
                                    <th>用途</th>
                                    <th>尺寸</th>
                                    <th>化妆</th>
                                    <th>预约时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /*点击编辑模式*/
    $('.editor-setting').on('click', function () {
        $('#setting_form fieldset').removeAttr('disabled');
        $('.save-setting').fadeIn();
    });
    /*保存配置信息*/
    $('.save-setting').on('click', function () {
        var $btn = $(this).button('loading');
        $.ajax({
            type: "POST",
            url: "/admin/editor_setting",
            data: fromToJson('setting_form'),
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    $btn.button('reset');
                    $('.alert').text('保存成功！').slideDown('fast').delay(2000).queue(function () {
                        $(this).slideUp('fast').dequeue();
                    });
                    $('#setting_form fieldset').attr('disabled', '');
                    $('.save-setting').fadeOut();
                }
            }
        });
        return false;
    });

    $('#j_all_order').on('click', function () {
        $.getJSON('/book/all?d=' + new Date().getTime(), function (res) {
            if (res.code == 1) {
                var str = '';
                res.data.forEach(function (v, i) {
                    str += '<tr>' +
                            '<td>' + (i+1) + '</td>' +
                            '<td>' + v.nickname + '</td>' +
                            '<td>' + v.department + '</td>' +
                            '<td>' + v.phone + '</td>' +
                            '<td>' + v.use_to + '</td>' +
                            '<td>' + v.photo_size + '</td>' +
                            '<td>' + v.is_makeup + '</td>' +
                            '<td>' + v.date + '</td>' +
                            '</tr>'
                });
                $('#tb_all_order tbody').html(str);
            }
        })
    })
</script>
</body>
</html>