<% include header.html %>
<body>
<div class="alert alert-success"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-2">
            <div class="span12">
                <div class="page-header">
                    <h1>
                        后台管理
                        <small></small>
                    </h1>
                </div>
                <div class="tabbable tabs-left" id="tabs-657411">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-895036" data-toggle="tab">基本配置</a>
                        </li>
                        <li>
                            <a href="#panel-500986" id="j_all_order" data-toggle="tab">所有订单</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-895036">
                            <form id="setting_form" role="form">
                                <fieldset disabled>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                配置项
                                            </th>
                                            <th>
                                                配置信息
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                网站标题
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="title"
                                                       value="<%= setting.title %>" required>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                最早申请开放时间(天)
                                            </td>
                                            <td>
                                                <input type="number" name="earliest_date" class="form-control"
                                                       value="<%= setting.earliest_date %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                最晚申请开放时间(天)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="latest_date"
                                                       value="<%= setting.latest_date %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                当天最早申请开放时间(24小时制)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="earliest_time"
                                                       value="<%= setting.earliest_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                当天最晚申请开放时间(24小时制)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="latest_time"
                                                       value="<%= setting.latest_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                预约申请时间间隔(分钟)
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="during_time"
                                                       value="<%= setting.during_time %>" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                单位时间内可预约人数
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" name="during_number"
                                                       value="<%= setting.during_number %>" required>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </form>
                            <a href="javascript:" class="editor-setting">修改配置</a>

                            <button type="button" data-loading-text="保存中..." class="btn btn-primary save-setting">保存配置
                            </button>
                        </div>
                        <div class="tab-pane" id="panel-500986">
                            <div class="input-group search">
                                <input type="text" class="form-control pull-right search-input"><span
                                    class="input-group-addon btn search-btn">搜索</span>
                            </div>
                            <table class="table table-bordered table-hover" id="tb_all_order">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>手机号</th>
                                    <th>预约时间</th>
                                    <th>状态</th>
                                    <th class="opation">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <nav>
                                <ul id="j_page" class="pagination"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="order_info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">订单详情</h4>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>项目名</th>
                    <th>项目信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>姓名</td>
                    <td><span id="m_nickname"></span></td>
                </tr>
                <tr>
                    <td>单位/学院</td>
                    <td><span id="m_department"></span></td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td><span id="m_phone"></span></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><span id="m_email"></span></td>
                </tr>
                <tr>
                    <td>用途</td>
                    <td><span id="m_use_to"></span></td>
                </tr>
                <tr>
                    <td>图片尺寸</td>
                    <td><span id="m_photo_size"></span></td>
                </tr>
                <tr>
                    <td>底色</td>
                    <td><span id="m_bg_color"></span></td>
                </tr>
                <tr>
                    <td>是否化妆</td>
                    <td><span id="m_is_makeup"></span></td>
                </tr>
                <tr>
                    <td>预约时间</td>
                    <td><span id="m_datetime"></span></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td><span id="m_remark"></span></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <select id="m_status" class="form-control">
                            <option value="0">未确认</option>
                            <option value="1">已确认</option>
                            <option value="2">已完成</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <span class="pull-left text-info">状态修改后将默认向客户发送邮件或短信通知</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="save_order_status" type="button" class="btn btn-primary" disabled="disabled">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="order_del" class="modal fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>警告</h3>
    </div>
    <div class="modal-body">
        <h4>您正在删除一条订单</h4>
        <p>此操作不能撤销，确认删除此订单吗？</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger">确认删除</a>
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
    </div>
</div>
<script src="/js/jquery-confirm.min.js"></script>
<script>
    /*点击编辑模式*/
    $('.editor-setting').on('click', function () {
        $('#setting_form fieldset').removeAttr('disabled');
        $('.save-setting').fadeIn();
    });
    /*保存配置信息*/
    $('.save-setting').on('click', function () {
        var $btn = $(this).button('loading');
        $.ajax({
            type: "POST",
            url: "/admin/editor_setting",
            data: fromToJson('setting_form'),
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    $btn.button('reset');
                    $('.alert').text('保存成功！').slideDown('fast').delay(2000).queue(function () {
                        $(this).slideUp('fast').dequeue();
                    });
                    $('#setting_form fieldset').attr('disabled', '');
                    $('.save-setting').fadeOut();
                }
            }
        });
        return false;
    });

    /*分页器*/
    function Page(page) {
        $.getJSON('/book/all?page=' + page + '&d=' + new Date().getTime(), function (res) {
            if (res.code == 1) {
                var str = '';
                res.data.forEach(function (v, i) {
                    var status_str = v.status == 0 ? '<span class="label label-primary">未确认</span>' : (v.status == 1 ? '<span class="label label-success">已确认</span>' : '<span class="label label-default">已完成</span>');
                    str += '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + v.nickname + '</td>' +
                            '<td>' + v.phone + '</td>' +
                            '<td>' + v.datetime + '</td>' +
                            '<td>' + status_str + '</td>' +
                            '<td>' +
                            '<button data-orderId="' + v._id + '" type="button" class="btn btn-info btn-xs order-info">详情</button>' +
                            '<button data-orderId="' + v._id + '" type="button" class="btn btn-danger btn-xs order-del">删除</button>' +
                            '</td>' +
                            '</tr>'
                });
                $('#tb_all_order tbody').html(str);


                if (res.total < 2) return false;

                var page_str = '';
                if (res.page == 1) {
                    page_str += '<li class="disabled"><a href="javascript:">&laquo;</a></li>';
                } else {
                    page_str += '<li><a data-page="' + (parseInt(res.page) - 1) + '" href="javascript:">&laquo;</a></li>';
                }
                for (var p = 1; p <= res.total; p++) {

                    if (p == res.page) {
                        page_str += '<li class="active"><a href="javascript:">' + p + '</a></li>';
                    } else {
                        page_str += '<li><a data-page="' + p + '" href="javascript:">' + p + '</a></li>';
                    }
                }
                if (res.page == res.total) {
                    page_str += '<li class="disabled"><a href="#">&raquo;</a>';
                } else {
                    page_str += '<li><a data-page="' + (parseInt(res.page) + 1) + '" href="#">&raquo;</a>';
                }
                $('#j_page').html(page_str);
            }
        });
    }
    /*获取所有订单*/
    $('#j_all_order').on('click', function () {
        Page(1);
    });
    $('#j_page').on('click', 'a', function () {
        if ($(this).parent().hasClass('disabled')) return false;
        Page($(this).attr('data-page'));
        return false;
    });


    /*订单详情*/
    $('#tb_all_order').on('click', '.order-info', function () {
        var _id = $(this).attr('data-orderId');
        $.getJSON('/book/' + _id, function (res) {
            if (res.code == 1) {

                $('#m_nickname').text(res.data.nickname);
                $('#m_department').text(res.data.department);
                $('#m_phone').text(res.data.phone);
                $('#m_email').text(res.data.email);
                $('#m_use_to').text(res.data.use_to);
                $('#m_photo_size').text(res.data.photo_size);
                $('#m_bg_color').text(res.data.bg_color);
                $('#m_is_makeup').text(res.data.is_makeup);
                $('#m_datetime').text(res.data.datetime);
                $('#m_remark').text(res.data.remark);
                $('#m_status').val(res.data.status).attr('data-status', res.data.status);

                $('#save_order_status').attr('data-orderId', _id);
                $('#order_info').modal('toggle');
            }
        })
    });
    /*删除订单*/
    $('#tb_all_order').on('click', '.order-del', function () {
        var _id = $(this).attr('data-orderId');
        $.confirm({
            title: '<strong>警告!</strong>',
            confirmButton: '确认删除',
            confirmButtonClass: 'btn-danger',
            cancelButton: '取消',
            content: '您正在删除一条订单，此操作无法撤销，确认删除吗？',
            confirm: function () {
                $.getJSON('/book/del/' + _id, function (res) {
                    if (res.code == 1) {
                        $.alert({content: '删除成功！', confirmButton: '关闭'});
                        $('#j_all_order').click();
                    }
                })
            }
        });

    });

    /*修改订单状态*/
    $('#m_status').change(function () {
        var status = $(this).attr('data-status');
        if ($(this).find("option:selected").index() != status) {
            $('#save_order_status').removeAttr('disabled');
        } else {
            $('#save_order_status').attr('disabled', 'disabled');
        }
    });
    $('#save_order_status').on('click', function () {
        var oid = $(this).attr('data-orderId'), status = $('#m_status option:selected').index();
        $.getJSON('/book/order/' + oid + '/status/' + status, function (res) {
            if (res.code == 1) {
                $('#j_all_order').click();
                $('#order_info').modal('toggle');
                Mesage(res.msg, 1);
            } else {
                Mesage(res.msg);
            }
        })
    });

    /*搜索*/
    $('.search-btn').on('click', function () {
        var key = $('.search-input').val();
        if (key.length == 0) return false;
        $.getJSON('/book/search/' + key, function (res) {
            if (res.code == 1) {
                var str = '';
                res.data.forEach(function (v, i) {
                    var status_str = v.status == 0 ? '<span class="label label-primary">未确认</span>' : (v.status == 1 ? '<span class="label label-success">已确认</span>' : '<span class="label label-default">已完成</span>');
                    str += '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + v.nickname + '</td>' +
                            '<td>' + v.phone + '</td>' +
                            '<td>' + v.datetime + '</td>' +
                            '<td>' + status_str + '</td>' +
                            '<td>' +
                            '<button data-orderId="' + v._id + '" type="button" class="btn btn-info btn-xs order-info">详情</button>' +
                            '<button data-orderId="' + v._id + '" type="button" class="btn btn-danger btn-xs order-info">删除</button>' +
                            '</td>' +
                            '</tr>'
                });
                $('#tb_all_order tbody').html(str);
            }
        })
    })
</script>
</body>
</html>