<% include header.html %>
<body>
<div class="alert alert-success"></div>
<div class="container" id="openid" data-openid="<%=openid%>">
    <div class="col-sm-11 col-md-11">
        <div class="row">
            <form role="form" id="form" onsubmit="return false;">
                <div class="form-group">
                    <label for="nickname">姓名</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="姓名信息用于电子底片的信息检索"
                           required>
                </div>
                <div class="form-group">
                    <label for="department">单位/学院</label>
                    <input type="text" class="form-control" id="department" name="department" placeholder="请输入具体的单位或学院"
                           required>
                </div>
                <div class="form-group">
                    <label for="phone">联系电话</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="联系电话用于电子底片的保存信息检索"
                           required>
                </div>
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱用于电子底片的发送"
                           required>
                </div>
                <div class="form-group">
                    <label>用途选择</label>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="求职简历">
                            求职简历
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="考试报名">
                            考试报名
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="驾照">
                            驾照
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="学生证、员工卡">
                            学生证、员工卡
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="护照签证">
                            护照签证
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="结婚登记照">
                            结婚登记照
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="use_to" value="其他">
                            其他
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>尺寸选择</label>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="photo_size" value="标准1寸8张">
                            标准1寸8张
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="photo_size" value="标准2寸6张">
                            标准2寸6张
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="photo_size" value="结婚登记照">
                            结婚登记照
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="photo_size" value="护照/签证">
                            护照/签证
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="其他">
                            其他
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>底色选择</label>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="bg_color" value="白色">
                            白色
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="bg_color" value="蓝色">
                            蓝色
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="bg_color" value="红色（结婚登记照）">
                            红色（结婚登记照）
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="bg_color" value="其他">
                            其他
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>化妆</label>

                    <div class="radio">
                        <label>
                            <input type="radio" name="is_makeup" value="淡雅妆容（20元）" checked>
                            淡雅妆容（20元）
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="is_makeup" value="无化妆">
                            无化妆
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>预约时间</label>
                    <div class="datetime-select clearfix">
                        <!--预约时间-->
                        <%if(setting.earliest_date){%>
                        <% var earliest = setting.earliest_date %>
                        <% var among = setting.latest_date-setting.earliest_date %>
                        <% for(var i=1;i<=among;i++){ %>
                        <% var date = new Date(new Date().getTime()+(earliest++)*24*60*60*1000) %>
                        <button type="button" class="btn lab-date" id="j_date">
                            <%=date.getMonth()+1%>月<%=date.getDate()%>日
                        </button>
                        <div class="time-select">
                            <%var
                            during_time=setting.during_time/60,earliest_time=setting.earliest_time,latest_time=setting.latest_time;%>
                            <%for(var j=0,t=0;(t=earliest_time+j*during_time)<=latest_time;j++){%>
                            <%var num = (t-parseInt(t))*60;%>
                            <button type="button" class="btn btn-sm lab-time"><%=parseInt(t)%>:<%=num?num:num+'0'%>
                            </button>
                            <%}%>
                        </div>
                        <%}%>
                        <%}%>
                    </div>
                    <!--/预约时间-->
                </div>
                <div class="form-group">
                    <label for="remark">备注</label>
                    <textarea class="form-control" rows="3" id="remark"></textarea>
                </div>
                <div class="form-group">
                    <button id="btn_post" class="btn btn-primary">提交</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script>

    /*时间选择*/
    $(document).on('click', '.lab-time', function () {
        $('.lab-time').removeClass('btn-primary');
        $(this).addClass('btn-primary')
    });
    $(document).on('click', '.lab-date', function () {
        var date = $.trim($(this).text()), time_select = $(this).next();

        $('.lab-date,.lab-time').removeClass('btn-primary');
        $('.time-select').stop().slideUp();
        $(this).addClass('btn-primary');
        time_select.stop().slideDown();

        $.getJSON('/book/date/' + date + '?d=' + new Date().getTime(), function (res) {
            if (res.code == 1) {
                res.data.forEach(function (time, i) {
                    time_select.find('.lab-time').each(function (j, _time) {
                        if (time == $.trim($(_time).text())) {
                            $(this).hide();
                        }
                    })
                })
            }
        })
    });

    /*表单验证*/
    $('#btn_post').on('click', function () {
        var order = {};

        var openid = $('#openid').attr('data-openid');
        if (!openid.length > 0) {
            Mesage('openid信息错误！');
            return false;
        }
        order.openid = openid;

        var nickname = $('#nickname').val();
        if (!nickname.length > 0) {
            Mesage('请输入姓名！');
            return false;
        }
        order.nickname = nickname;

        var department = $('#department').val();
        if (!department.length > 0) {
            Mesage('请输入单位/学院！');
            return false;
        }
        order.department = department;

        var phone = $('#phone').val();
        if (!(phone.length > 0 && /^1[34578]\d{9}$/.test(phone))) {
            Mesage('请输入正确的手机号！');
            return false;
        }
        order.phone = phone;

        var email = $('#email').val();
        if (!(email.length > 0 && /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test(email))) {
            Mesage('请输入正确的邮箱！');
            return false;
        }
        order.email = email;

        var use_to = getCheckBox('use_to');
        if (!use_to.length > 0) {
            Mesage('请选择用途！');
            return false;
        }
        order.use_to = use_to;

        var photo_size = getCheckBox('photo_size');
        if (!photo_size.length > 0) {
            Mesage('请选择尺寸！');
            return false;
        }
        order.photo_size = photo_size;

        var bg_color = getCheckBox('bg_color');
        if (!bg_color.length > 0) {
            Mesage('请选择底色！');
            return false;
        }
        order.bg_color = bg_color;

        var is_makeup = getCheckBox('is_makeup');
        if (!is_makeup.length > 0) {
            Mesage('请选择是否化妆！');
            return false;
        }
        order.is_makeup = is_makeup;

        order.remark = $("#remark").val();


        var $date = $('.lab-date.btn-primary');
        if (!$date.length > 0) {
            Mesage('请选择日期！');
            return false;
        }
        var $time = $date.next().find('.btn-primary');
        if (!$time.length > 0) {
            Mesage('请选择时间！');
            return false;
        }
        order.datetime = new Date().getFullYear() + '年' + $.trim($date.text()) + ' ' + $.trim($time.text());

        $.ajax({
            type: 'POST',
            url: '/book/add?d=' + new Date().getTime(),
            data: order,
            dataType: 'json',
            success: function (res) {
                alert(res.msg);
            }
        });
    });

    function getCheckBox(name) {
        var res = '';
        var input = $("input[name='" + name + "']:checked");
        var len = input.length;
        input.each(function (i, item) {
            if (i == (len - 1)) {
                res += $(item).val();
            } else {
                res += $(item).val() + "|";
            }
        });
        return res;
    }
</script>
</body>
</html>
